Repository wzhli/translated-content, changes with the labels that .github/labeler.yml gives for each.
All labels: system, l10n-de, l10n-es, l10n-fr, l10n-ja, l10n-ko, l10n-pl, l10n-pt-br, l10n-ru, l10n-zh

[CRON] sync translated content
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/web/api/mediadevices/devicechange_event/index.html
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/api/mediadevices/devicechange_event/index.html
  files/zh-cn/web/api/window/beforeinstallprompt_event/index.html
Labels: l10n-ja, l10n-zh

[CRON] sync translated content
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/web/api/mediastream/addtrack_event/index.html
Labels: l10n-ja

[CRON] sync translated content
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/web/api/sharedworkerglobalscope/connect_event/index.md
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/learn_5c079fa29d8d329cb43586076f0bb7bf/index.html
  files/ja/conflicting/web/api/mediarecorder/error_event/index.html
  files/ja/web/api/mediarecorder/dataavailable_event/index.html
  files/ja/web/api/mediarecorder/pause_event/index.html
  files/ja/web/api/mediarecorder/resume_event/index.html
  files/ja/web/api/mediarecorder/start_event/index.html
  files/ja/web/api/mediarecorder/stop_event/index.html
  files/ja/web/api/worker/error_event/index.html
  files/pt-br/_redirects.txt
  files/pt-br/_wikihistory.json
  files/pt-br/conflicting/learn/index.html
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/web/api/mediarecorder/dataavailable_event/index.html
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/web/api/mediarecorder/dataavailable_event/index.html
Labels: l10n-fr, l10n-ja, l10n-pt-br, l10n-ru, l10n-zh

[CRON] sync translated content
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/web/api/permissionstatus/change_event/index.html
Labels: l10n-ja

[CRON] sync translated content
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/web/api/idbrequest/error_event/index.md
  files/fr/web/api/idbrequest/success_event/index.md
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/idbrequest/success_event/index.html
  files/ja/conflicting/web/api/serviceworkercontainer/message_event/index.html
  files/ja/web/api/serviceworkercontainer/controllerchange_event/index.html
  files/ja/web/api/serviceworkercontainer/error_event/index.html
Labels: l10n-fr, l10n-ja

[CRON] sync translated content
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/web/api/worker/message_event/index.md
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/serviceworkerglobalscope/message_event/index.html
  files/ja/conflicting/web/api/window/messageerror_event/index.html
  files/ja/web/api/messageport/message_event/index.html
  files/ja/web/api/messageport/messageerror_event/index.html
  files/ja/web/api/window/message_event/index.html
  files/ja/web/api/worker/messageerror_event/index.html
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/web/api/worker/message_event/index.html
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/api/worker/message_event/index.html
  files/zh-cn/conflicting/web/api/worker/messageerror_event/index.html
  files/zh-cn/web/api/messageport/message_event/index.html
  files/zh-cn/web/api/window/message_event/index.html
  files/zh-cn/web/api/window/messageerror_event/index.html
Labels: l10n-fr, l10n-ja, l10n-ru, l10n-zh

[CRON] sync translated content
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/web/api/serviceworkerregistration/updatefound_event/index.html
Labels: l10n-ja

[CRON] sync translated content
  files/de/_redirects.txt
  files/de/_wikihistory.json
  files/de/web/api/window/hashchange_event/index.html
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/conflicting/web/api/window/hashchange_event/index.html
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/api/window/hashchange_event/index.md
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/window/hashchange_event/index.html
  files/ko/_redirects.txt
  files/ko/_wikihistory.json
  files/ko/web/api/window/hashchange_event/index.html
  files/pt-br/_redirects.txt
  files/pt-br/_wikihistory.json
  files/pt-br/web/api/window/hashchange_event/index.html
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/window/hashchange_event/index.html
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/api/window/hashchange_event/index.html
Labels: l10n-de, l10n-es, l10n-fr, l10n-ja, l10n-ko, l10n-pt-br, l10n-ru, l10n-zh

[CRON] sync translated content
  files/de/_redirects.txt
  files/de/_wikihistory.json
  files/de/web/api/window/afterprint_event/index.html
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/api/window/afterprint_event/index.md
  files/fr/conflicting/web/api/window/beforeprint_event/index.md
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/window/afterprint_event/index.html
  files/ja/conflicting/web/api/window/beforeprint_event/index.html
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/web/api/window/afterprint_event/index.html
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/api/window/afterprint_event/index.html
  files/zh-cn/conflicting/web/api/window/beforeprint_event/index.html
Labels: l10n-de, l10n-fr, l10n-ja, l10n-ru, l10n-zh

[CRON] sync translated content
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/glossary/bezier_curve/index.md
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/glossary/bezier_curve/index.html
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/glossary/bezier_curve/index.html
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/glossary/bezier_curve/index.html
Labels: l10n-fr, l10n-ja, l10n-ru, l10n-zh

[CRON] sync translated content
  files/fr/_redirects.txt
  files/fr/conflicting/web/api/webvtt_api/index.md
Labels: l10n-fr

[CRON] sync translated content
  files/de/_redirects.txt
  files/de/_wikihistory.json
  files/de/web/css/css_colors/index.html
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/web/css/css_colors/index.html
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/web/css/css_colors/applying_color/index.md
  files/fr/web/css/css_colors/index.md
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/web/css/css_colors/applying_color/index.md
  files/ja/web/css/css_colors/index.md
  files/ko/_redirects.txt
  files/ko/_wikihistory.json
  files/ko/web/css/css_colors/applying_color/index.html
  files/ko/web/css/css_colors/index.html
  files/pl/_redirects.txt
  files/pl/_wikihistory.json
  files/pl/web/css/css_colors/index.html
  files/pt-br/_redirects.txt
  files/pt-br/_wikihistory.json
  files/pt-br/web/css/css_colors/applying_color/index.html
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/web/css/css_colors/applying_color/index.html
  files/ru/web/css/css_colors/index.html
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/web/css/css_colors/applying_color/index.html
  files/zh-cn/web/css/css_colors/index.html
  files/zh-tw/_redirects.txt
  files/zh-tw/_wikihistory.json
  files/zh-tw/web/css/css_colors/applying_color/index.html
  files/zh-tw/web/css/css_colors/index.html
Labels: l10n-de, l10n-es, l10n-fr, l10n-ja, l10n-ko, l10n-pl, l10n-pt-br, l10n-ru, l10n-zh

[CRON] sync translated content
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/svg/element/animate/index.md
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/svg/element/animate/index.html
  files/pt-br/_redirects.txt
  files/pt-br/_wikihistory.json
  files/pt-br/conflicting/web/svg/element/animate/index.html
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/svg/element/animate/index.html
Labels: l10n-fr, l10n-ja, l10n-pt-br, l10n-zh

[CRON] sync translated content
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/canvasrenderingcontext2d/index.html
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/api/canvasrenderingcontext2d/index.html
Labels: l10n-ru, l10n-zh

[CRON] sync translated content
  files/de/_redirects.txt
  files/de/_wikihistory.json
  files/de/conflicting/web/javascript/reference/global_objects/error/tostring/index.html
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/conflicting/web/javascript/reference/global_objects/error/tostring/index.html
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/javascript/reference/global_objects/error/tostring/index.md
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/javascript/reference/global_objects/error/tostring/index.html
  files/pl/_redirects.txt
  files/pl/_wikihistory.json
  files/pl/conflicting/web/javascript/reference/global_objects/error/tostring/index.html
  files/pt-br/_redirects.txt
  files/pt-br/_wikihistory.json
  files/pt-br/conflicting/web/javascript/reference/global_objects/error/tostring/index.html
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/javascript/reference/global_objects/error/tostring/index.html
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/javascript/reference/global_objects/error/tostring/index.html
Labels: l10n-de, l10n-es, l10n-fr, l10n-ja, l10n-pl, l10n-pt-br, l10n-ru, l10n-zh

[CRON] sync translated content
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/api/file_and_directory_entries_api/index.md
  files/fr/web/api/idbfilerequest/lockedfile/index.md
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/file_and_directory_entries_api/index.html
  files/ja/conflicting/web/api/file_and_directory_entries_api_09acca60411d357b1f214619cb820a72/index.html
  files/ja/conflicting/web/api/file_and_directory_entries_api_14742f14781741be7bc237d4ec1399a0/index.html
  files/ja/conflicting/web/api/file_and_directory_entries_api_330e25ac325178c58fd9fba0601787e1/index.html
  files/ja/conflicting/web/api/file_and_directory_entries_api_b98af8eade9a709904ec6e38c4e7c98a/index.html
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/api/file_and_directory_entries_api/index.html
  files/zh-cn/conflicting/web/api/file_and_directory_entries_api_09acca60411d357b1f214619cb820a72/index.html
  files/zh-cn/conflicting/web/api/file_and_directory_entries_api_b98af8eade9a709904ec6e38c4e7c98a/index.html
  files/zh-cn/conflicting/web/api/text/index.html
  files/zh-cn/web/api/idbfilehandle/index.html
  files/zh-tw/_redirects.txt
  files/zh-tw/_wikihistory.json
  files/zh-tw/web/api/file_and_directory_entries_api/index.html
Labels: l10n-fr, l10n-ja, l10n-zh

[CRON] sync translated content
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/web/api/ui_events/keyboard_event_key_values/index.md
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/web/api/ui_events/keyboard_event_key_values/index.html
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/web/api/ui_events/keyboard_event_key_values/index.html
Labels: l10n-fr, l10n-ru, l10n-zh

.github/labeler.yml:

# For more ideas, see https://github.com/actions/labeler#common-examples

system:
  - .github/**/*

l10n-de:
  - files/de/**/*

l10n-es:
  - files/es/**/*

l10n-fr:
  - files/fr/**/*

l10n-ja:
  - files/ja/**/*

l10n-ko:
  - files/ko/**/*

l10n-pl:
  - files/pl/**/*

l10n-pt-br:
  - files/pt-br/**/*

l10n-ru:
  - files/ru/**/*

l10n-zh:
  - files/zh-cn/**/*
  - files/zh-tw/**/*
